<!DOCTYPE html>
<html lang="{{ siteinfo['language'] }}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>{{ siteinfo['title'] }} - {{ siteinfo['subtitle'] }} | {% if is_home %}Home{% else %}{{ content['title'] }}{% endif %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ root }}assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ root }}assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ root }}assets/css/main.css">
        {{ blended_header }}
    </head>
    <body>
        {% include "nav1.html" %}
        