<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse center">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ root }}index.html">{{ siteinfo['title'] }}</a>

    {% if menus['primary'] %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for item in menus['primary'] %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ root }}{{ item['link'] }}">{{ item['title'] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</nav>
