<div class="img-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 content">
                <img src="assets/img/aoi-logo1.png" class="header-logo">

                <div class="row header-buttons">
                    <div class="col-md-4"><a href="index.html#download" class="btn btn-danger"><i class="fa fa-download" aria-hidden="true"></i> Download {aoi_version}</a></div>
                    <div class="col-md-4"><a href="release_notes.html" class="btn btn-primary"><i class="fa fa-book" aria-hidden="true"></i> Release Notes</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 page-content">
                <img class="img-fluid" src="assets/img/screenshot1.jpg">
            </div>
            <div class="col-md-7 page-content-md offset-md-1">
                <h2>Easy, Free, Open Source</h2>
                <p>Art of Illusion is a free, open source, 3D modelling and rendering studio. Many of its capabilities rival those found in commercial programs. Highlights include subdivision surface based modelling tools, skeleton based animation, and a graphical language for designing procedural textures and materials.</p>
            </div>

        </div>
    </div>
</div>
<div class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 page-content-md">
                <h2>Cross Platform</h2>
                <p>Art of Illusion will run on any computer that supports Java 5 or later. This includes Windows, macOS and Linux.</p>
            </div>
            <div class="col-md-4 page-content offset-md-2">
                <img class="img-fluid" src="assets/img/win-mac-lin.png">
            </div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 page-content">
                <img class="img-fluid" src="assets/img/object.png">
            </div>
            <div class="col-md-6 page-content-lg offset-md-2">
                <h2>Awesome for Education</h2>
                <p>Art of Illusion is an excellent application to use in schools because it's simple to understand interface making getting started really easy.</p>
            </div>

        </div>
    </div>
</div>
<div class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 page-content-md">
                <h2>Open Source</h2>
                <p>Art of Illusion and it's plugins are licensed under the GPL 2.0 open source license or later at your choice . This means that you are free to download, edit, and use the source code for what ever you want!</p>
            </div>
            <div class="col-md-4 page-content offset-md-2">
                <img class="img-fluid" src="assets/img/GPLv3_Logo.svg.png">
            </div>
        </div>
    </div>
</div>
<div class="bg-light" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-8 page-content offset-md-2">
                <h2 class="download-text">Download {website_name} Now!</h2>
                <p class="download-text">the latest offical stable release is {aoi_version}</p>
                <div class="download-text" style="margin-top: 35px;">
                    <a href="https://sourceforge.net/projects/aoi/files/ArtOfIllusion/3.0.3/ArtOfIllusion303-Windows.exe/download" class="btn btn-danger"><i class="fa fa-download" aria-hidden="true"></i> Windows</a>
                    <a href="https://sourceforge.net/projects/aoi/files/ArtOfIllusion/3.0.3/ArtOfIllusion303-Mac.dmg/download" class="btn btn-warning"><i class="fa fa-download" aria-hidden="true"></i> macOS</a>
                    <a href="https://sourceforge.net/projects/aoi/files/ArtOfIllusion/3.0.3/ArtOfIllusion303-Linux.zip/download" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i> Linux</a>
                    <a href="https://github.com/ArtOfIllusion/ArtOfIllusion" class="btn btn-primary"><i class="fa fa-code" aria-hidden="true"></i> Source Code</a>
                </div>
                <br>
                <p class="download-text"><a href="https://sourceforge.net/projects/aoi/files/">Other Downloads</a></p>
            </div>

        </div>
    </div>
</div>
